@page "/"
@page "/login"
@inject NavigationManager NavManager

    
<form class="form">
    <h1 class="form-title">Faith</h1>
    <div class="form-group group--email">
        <input type="text" placeholder="email@provider.com" class="form-input" />
    </div>
    <div class="form-group group--password">
        <input type="password" placeholder="password" class="form-input" />
    </div>
    <button type="submit" class="form-submit" @onclick=@TempNavigateMain>Login</button>
</form> 

@code {
    void TempNavigateMain()
        {
            NavManager.NavigateTo("post");
        }
}