img.blobs {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

form.form {
    position: relative;
    z-index: 2;
    width: 300px;
    margin: 200px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
}

h1.form-title {
    margin-bottom: 30px;
}

div.form-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

div.group--email::before,
div.group--password::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 80%;
    background-size: cover;
    top: 10%;
    left: 10px;
}

div.group--email::before {
    background-image: url('/img/icons/mail.svg');
}

div.group--password::before {
    background-image: url('/img/icons/lock.svg');
}

input.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--darkGray);
    border-radius: var(--borderRadius);
    padding: 15px 15px 15px 55px;
    outline: none;
}

button.form-submit {
    border-radius: var(--borderRadius);
    margin-top: 20px;
    width: 80%;
    background: var(--darkGray);
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .5px;
    padding: 10px 0;
    transition: all .3s ease;
}

    button.form-submit:hover {
        opacity: .8;
    }
