@page "/post"
@using Faith.Shared.Posts
@inject IPostService FakePostService

@*@attribute [Authorize]
<h1>Posts</h1>
@if (posts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in posts)
            {
            <tr>
              <td>@post.Id</td>
              <td><a href="post/@post.Id">@post.Text.ToString()</a></td>
            </tr>
            }
        </tbody>
    </table>
}
@code {
    private IEnumerable<PostDto.Index> posts;
    protected override async Task OnInitializedAsync()
    {
        posts = await FakePostService.GetIndexAsync();
    }
}*@