@page "/"
@page "/hier"


@if(posts is null)
{
    <p>Loading...</p>
} else {
    <div class="column">
        <div class="columns is-multiline">
            @foreach (var post in posts)
            {
                post.Id.ToString();
            }
        </div>
    </div>
}
