<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/posts" Match="NavLinkMatch.Prefix">Posts</MudNavLink>
    <AuthorizeView Roles="Administrator">
    <MudNavLink Href="/users" Match="NavLinkMatch.Prefix">Users</MudNavLink>
    </AuthorizeView>
    <AuthorizeView Roles="Administrator">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AuthUsers">
                <span class="oi oi-people" aria-hidden="true"></span> AuthUsers
            </NavLink>
        </div>
    </AuthorizeView>
    <MudNavLink Href="/about" Match="NavLinkMatch.Prefix">About</MudNavLink>
    <MudNavLink><AccessControl /></MudNavLink>
</MudNavMenu>